@import url('https://fonts.googleapis.com/css?family=Poppins:200,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background: $color-bg;
}

.header {
    color: $color-primary;
    font-size: 80px;
    text-align: center;
}
.ticker__search {
    //background: darken($color-white, 10%);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;

    &--input {
        margin: 20px;
        outline: none;
        padding: 10px;
        border: none;
        border-bottom: 1px solid rgba($color-primary, 1);
        font-size: 20px;
        font-weight: 200;
        background: none;
        color: $color-white;
        
    }

    &--label {
        color: $color-primary;
        font-size: 20px;
    }

    &--btn {
        font-family: inherit;
        border: none;
        background: $color-primary;
        color: $color-white;
        padding: 5px 10px;
        font-size: 20px;
        line-height: 1em;
        font-weight: inherit;
        cursor: pointer;
        transition: .4s background;
        box-shadow: 2px 2px 2px rgba($color-black, .15);
        border-radius: 2px;
        outline: none;

        &:hover {
            background: lighten($color-primary, 20%);
        }
    }
}

.stock-info {
    font-size: 20px;
    font-weight: 400;
    color: $color-white;

    > div {
        display: flex;
    }

    label {
        margin-right: 20px;
        font-weight: 200;
        color: lighten($color-bg, 50%);
    }

}


.header {grid-area: header}
.search {grid-area: search}
.graphs {grid-area: graphs}
.chart {grid-area: chart}

.container {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
     "header"
     "search"
     "graphs";

    &.hidden {
        display: none;
    }

    .graphs {
        display: grid;
        grid-template-areas: 
            "chart_1"
            "chart_2"
            "chart_3"
            "chart_4"
            "chart_5"
            "chart_6"
            "chart_7"
            "chart_8";

        &.hidden { display: none }

        chart_1 { grid-area: chart_1}
        chart_2 { grid-area: chart_2}
        chart_3 { grid-area: chart_3}
        chart_4 { grid-area: chart_4}
        chart_5 { grid-area: chart_5}
        chart_6 { grid-area: chart_6}
        chart_7 { grid-area: chart_7}
        chart_8 { grid-area: chart_8}
        
        svg {
            //border: 1px solid red;
            margin: 50px auto;
            box-sizing: border-box;
            width: 90%;
            min-height: 200px;

            .axis line,
            .axis path {
                stroke: $color-white;
            }
    
            .mid-axis {
                stroke: lighten($color-bg, 50%);
            }
    
            &.line-chart {
                path {
                    stroke: lighten($color-bg, 50%);
                }
            }
    
            &.bar-chart {
    
                rect {
                    &.bar {fill: $color-green}
                    &.pos-avg {fill: $color-green}
                    &.neg-avg {fill: $color-red}

                    &:hover {
                        fill: lighten($color-bg, 50%);
                    }
                }
            }
        }
    }
    
}

.tooltip {
    background: rgba($color-white,.75);
    padding: 5px 10px;
    border-radius: 5px;
}
.graph-label {
    fill: $color-primary;
}
text {
    letter-spacing: 1.5px;
    stroke: none;
    fill: $color-white;
    font-size: 12px;
}

@media only screen and (min-width: 768px) {

    .container .graphs {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "chart_1" "chart_2"
            "chart_3" "chart_4"
            "chart_5" "chart_6"
            "chart_7" "chart_8";
    }
}